body{
 background-color: #FFF0F5;
}
.cute-pink-style {
  text-align: center; 
  color: #f0a6bf; 
  padding: 20px;
  border-radius: 10px; 
  margin-top: 20px; 
  margin-bottom: 20px; 
}

.cute-pink-style a {
  color: #C71585;
}

.cute-pink-style a:hover {
  color: #AD1457;
}